# Byte‐compiled / optimized / DLL files / .cache / .egg-info / setup / tars
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache
.ruff_cache
*.egg-info/
build/
.gradio
*.tar.gz

# secrets
.env

# datasets
data/

# venv
.venv